:root {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.3;
  font-size: 1rem;
}

html, body {
  margin: 0px;
  padding: 0px;
}

main {
  margin: auto;
  max-width: 40em;
  height: 100%;
  padding: 1rem;
}

label {
  font-size: 1rem;
}

input, button {
  font-size: 1rem;
  padding: .4rem;
}

input[type=submit], input[type=text], button {
  padding: .4rem;
}

input[type=submit], button {
  padding: .5rem;
}

input[inputmode=decimal] {
  max-width: 4rem;
}

p, ul, li {
  margin: 0
}